# ─── Server ───────────────────────────────────────────────
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173

# ─── MongoDB ──────────────────────────────────────────────
MONGODB_URI=mongodb+srv://2022ucp1717_db_user:bhavdeep@5577@cluster0.txawrfr.mongodb.net/

# ─── JWT ──────────────────────────────────────────────────
JWT_SECRET=e44999f647bc06d7651d7b0392ea1b77db6c9d95f7b4ca3e424d165b3962fd64c24cdec59abb99b0525d91560b65b838ef6dca95d3421a96d8ebcb7a73fd9dae
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=490578a030dea9c1fb3ad6209a133e2db5775af730783a87ea064035b1f56b919b21a3f01a12bcc772ce22d9825a1562d387bc80682a14587b1f7d3684eade2d
JWT_REFRESH_EXPIRE=30d

# ─── Super Admin Seed (one-time use) ─────────────────────
SUPER_ADMIN_EMAIL=superadmin@mnit.ac.in
SUPER_ADMIN_PASSWORD=SuperSecure@MNIT2024
SUPER_ADMIN_NAME=Super Admin MNIT

# ─── Rate Limiting ────────────────────────────────────────
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
